.guide-popup-program-content-title {
  position: absolute;
  top: 22%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  overflow: auto;
  text-align: left;
  line-height: 100%;
  margin: 0px;
  width: 50%;
  height: 10%;
  font-family: "mishmash";
  color: #5cffff;
  pointer-events: none;
  user-select: none;
}

.guide-popup-program-content-text {
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  overflow: auto;
  text-align: left;
  line-height: 100%;
  margin: 0px;
  width: 46%;
  height: 55%;
  color: white;
  pointer-events: none;
  user-select: none;
}

.guide-popup-program-image {
  position: absolute;
  width: 181px;
  height: 313px;
  left: 25%;
  top: 45%;
  transform: translate(-50%, -50%);
  user-select: none;
}
