.guide-popup-circle-content-title {
  position: absolute;
  top: 20%;
  left: 33%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  overflow: auto;
  text-align: left;
  line-height: 100%;
  margin: 0px;
  width: 50%;
  height: 10%;
  font-family: "mishmash";
  color: #5cffff;
  pointer-events: none;
  user-select: none;
}

.guide-popup-circle-content-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  overflow: auto;
  text-align: left;
  line-height: 100%;
  margin: 0px;
  width: 83%;
  height: 55%;
  color: white;
  pointer-events: none;
  user-select: none;
}

.guide-popup-circle-image {
  position: absolute;
  width: 85%;
  height: auto;
  aspect-ratio: 845 / 135;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  user-select: none;
}
