.creature-container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.creature-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.creature-image-background,
.creature-image,
.creature-stop-image {
  position: absolute;
  top: 38%;
  left: 23%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 63.6%;
  aspect-ratio: 1 / 1;
  pointer-events: none;
  user-select: none;
}

.creature-image {
  filter: brightness(0) contrast(1);
}

.creature-image-mask {
  position: absolute;
  width: auto;
  height: 78%;
  aspect-ratio: 60 / 67;
  top: 47%;
  left: 23.5%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
}

.creature-text,
.creature-creating-text {
  position: absolute;
  top: 75%;
  left: 23%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 100%;
  margin: 0;
  width: 33%;
  height: 12%;
  font-family: "mishmash";
  color: #5cffff;
  pointer-events: none;
  user-select: none;
}

.creature-upgrade-button {
  position: absolute;
  width: auto;
  height: 23%;
  aspect-ratio: 1 / 1;
  top: 21%;
  left: 90%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.creature-level-icon {
  position: absolute;
  width: auto;
  height: 20.8%;
  aspect-ratio: 1 / 1;
  top: 21%;
  left: 52%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.creature-speed-icon,
.creature-efficiency-icon,
.creature-productivity-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  width: auto;
  height: 13.9%;
  aspect-ratio: 1 / 1;
  user-select: none;
}

.creature-speed-icon {
  top: 41%;
  left: 51%;
}

.creature-efficiency-icon {
  top: 59%;
  left: 51%;
}

.creature-productivity-icon {
  top: 78%;
  left: 51%;
}

.creature-level-text,
.creature-speed-text,
.creature-efficiency-text,
.creature-productivity-text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: left;
  line-height: 100%;
  margin: 0;
  width: 30%;
  font-family: "mishmash";
  color: white;
  pointer-events: none;
  user-select: none;
}

.creature-level-text {
  top: 20%;
  left: 74%;
}

.creature-speed-text {
  top: 41%;
  left: 74%;
}

.creature-efficiency-text {
  top: 60%;
  left: 74%;
}

.creature-productivity-text {
  top: 80%;
  left: 74%;
}
