.main {
  height: 100%;
  width: calc(100% - 190px * 2);
  flex: 1;
  background-image: url("../image/backgrounds/menu_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: relative;
  /* z-index: 3; */
}
