.page-selector-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-selector-page-number-background {
  position: absolute;
  width: auto;
  height: 60%;
  aspect-ratio: 56/25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
}

.page-selector-page-number-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 25px;
  margin: 0px;
  color: white;
  width: 56px;
  height: 25px;
  font-family: "mishmash";
  color: #5cffff;
  pointer-events: none;
  user-select: none;
}

.page-selector-prev-button,
.page-selector-prev-button-horizontal {
  position: absolute;
  top: 50%;
  left: 15%;
  height: 60%;
  width: auto;
  aspect-ratio: 52 / 45;
}

.page-selector-prev-button {
  transform: translate(-50%, -50%);
}

.page-selector-prev-button-horizontal {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.page-selector-next-button,
.page-selector-next-button-horizontal {
  position: absolute;
  top: 50%;
  left: 85%;
  height: 60%;
  width: auto;
  aspect-ratio: 52 / 45;
}

.page-selector-next-button {
  transform: translate(-50%, -50%);
}

.page-selector-next-button-horizontal {
  transform: translate(-50%, -50%) rotate(-90deg);
}
