.planet-scene-container {
  position: absolute;
  height: 512px;
  width: 800px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.planet-scene-canvas-container {
  position: absolute;
  width: auto;
  height: 540px;
  aspect-ratio: 1671 / 903;
  top: 45%;
  right: 50%;
  transform: translate(50%, -50%);
}

.planet-scene-program-container {
  position: absolute;
  height: 70px;
  width: 551px;
  bottom: -2%;
  left: 38%;
  transform: translate(-50%, -50%);
  background-image: url("../image/backgrounds/main_program_frame.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.planet-scene-creature-info {
  position: absolute;
  width: 152px;
  height: 90px;
  top: 88.2%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.planet-scene-prev-creature-button {
  position: absolute;
  width: 26px;
  height: 23px;
  top: 84.5%;
  left: 97%;
  transform: translate(-50%, -50%);
}

.planet-scene-next-creature-button {
  position: absolute;
  width: 26px;
  height: 23px;
  top: 91.5%;
  left: 97%;
  transform: translate(-50%, -50%);
}

.planet-scene-program-action-button {
  position: absolute;
  height: 80%;
  width: auto;
  aspect-ratio: 132 / 128;
  top: 50%;
  left: 93.5%;
  transform: translate(-50%, -50%);
}

.planet-scene-program-new-creature-button {
  position: absolute;
  height: 80%;
  width: auto;
  aspect-ratio: 132 / 128;
  top: -50%;
  left: 93.5%;
  transform: translate(-50%, -50%);
}

.planet-scene-info-container {
  position: absolute;
  height: 125px;
  width: 203px;
}

.planet-scene-info-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.planet-scene-circle-container {
  position: absolute;
  height: 486px;
  width: 488px;
  left: 31px;
}

.planet-scene-circle-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

@keyframes unlockFrames {
  from {
    background-position: 0px;
  }
  to {
    background-position: -7800px;
  }
}

.planet-scene-menu-program-container {
  position: absolute;
  width: 406px;
  height: 406px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10;
}

.planet-scene-bot-unlock-animation,
.planet-scene-bot-upgrade-animation {
  position: absolute;
  width: 780px;
  height: 780px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(50%, 50%);
  background-size: cover;
  animation: unlockFrames 1s steps(10);
  background-image: url("../image/Animations/Unlock.png");
}

.planet-scene-redeem {
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
}
