.player-info-level-display-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.player-info-level-display-background {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.player-info-level-display-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 3%;
  top: 50%;
  width: auto;
  height: 92%;
  aspect-ratio: 34 / 35;
  user-select: none;
}

.player-info-level-display-title-text {
  position: absolute;
  margin: 0;
  color: white;
  text-align: left;
  top: 23%;
  left: 17%;
  width: 36%;
  height: 23%;
  font-family: "mishmash";
  white-space: break-spaces;
  pointer-events: none;
  user-select: none;
}

.player-info-level-display-amount-text {
  position: absolute;
  margin: 0;
  color: white;
  text-align: center;
  top: 64%;
  left: 17%;
  width: 23%;
  height: 23%;
  font-family: "mishmash";
  white-space: break-spaces;
  pointer-events: none;
  user-select: none;
}

.player-info-level-display-interest-rate-text {
  position: absolute;
  line-height: 140%;
  margin: 0;
  color: #5cffff;
  top: 55%;
  left: 75%;
  width: 45%;
  height: 79%;
  font-family: "mishmash";
  white-space: break-spaces;
  pointer-events: none;
  user-select: none;
  transform: translate(-50%, -50%);
}

.player-info-level-display-hover-range {
  position: relative;
  width: 100%;
  height: 100%;
}

.player-info-level-display-hover-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: -10%;
  user-select: none;
}
