.program-resource-display-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  /* width: 44px;
  height: 16px; */
}

/* 图标样式 - 基础样式 */
.program-resource-display-image {
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 75%;
  aspect-ratio: 1 / 1;
  user-select: none;
}

/* 双值显示时图标位置向左移 */
.program-resource-display-container.dual-values
  .program-resource-display-image {
  left: 0.05%;
}

/* 文本样式 - 基础文本样式 */
.program-resource-display-positive-text,
.program-resource-display-zero-text,
.program-resource-display-negative-text {
  position: absolute;
  top: 50%;
  left: 64%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  width: 64%;
  font-family: "mishmash";
  user-select: none;
  white-space: nowrap;
}

/* 双值显示时文本位置向右移 */
.program-resource-display-container.dual-values
  .program-resource-display-positive-text,
.program-resource-display-container.dual-values
  .program-resource-display-zero-text,
.program-resource-display-container.dual-values
  .program-resource-display-negative-text {
  left: 60%;
  width: 91%;
}

.program-resource-display-positive-text {
  color: rgb(85, 221, 85);
}

.program-resource-display-zero-text {
  color: white;
}

.program-resource-display-negative-text {
  color: rgb(220, 36, 36);
}
