.program-filter-bar-filter-container {
  position: relative;
  width: 98%;
  height: calc(100% / 9);
  user-select: none;
}

.program-filter-bar-filter-selecting-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.program-filter-bar-filter-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.program-filter-bar-filter-icon {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 36.4%;
  height: auto;
  aspect-ratio: 1 / 1;
  user-select: none;
}

.program-filter-bar-filter-text {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0px;
  color: white;
  width: 36.4%;
  height: 40%;
  font-family: "mishmash";
  color: black;
  pointer-events: none;
  user-select: none;
}
