.redeem-scene-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.redeem-scene-background {
  width: 100%;
  height: 100%;
  user-select: none;
}

.redeem-scene-resource-title-text {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  width: 80%;
  height: 4%;
  font-family: "mishmash";
  color: white;
  user-select: none;
}

.redeem-scene-grid {
  position: absolute;
  width: 92.4%;
  height: 67.3%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
