.top {
  height: 110px;
  min-height: 110px;
  width: 100%;
  min-width: 960px;
  display: flex;
  font-size: 24px;
  z-index: 10;
}

.top-left,
.top-right,
.top-middle {
  height: 100%;
  background-size: contain;
  z-index: 7;
  pointer-events: none;
}

.top-left {
  width: 480px;
  height: 110px;
  background-image: url("../image/backgrounds/top_left.png");
  background-repeat: no-repeat;
}

.top-right {
  width: 480px;
  height: 110px;
  background-image: url("../image/backgrounds/top_right.png");
  background-repeat: no-repeat;
}

.top-middle {
  flex-grow: 1;
  height: 110px;
  background-image: url("../image/backgrounds/top_mid.png");
  background-repeat: repeat-x;
}

.top-titanium-frame {
  position: absolute;
  top: 27px;
  left: calc(max(100%, 960px) - 360px);
  width: 246px;
  height: 45px;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.top-account-info {
  position: absolute;
  width: 202px;
  height: 58px;
  left: calc(max(100%, 960px) - 210px);
  top: 0px;
  z-index: 7;
}

.top-resources {
  position: absolute;
  top: 50px;
  left: 260px;
  width: 480px;
  height: 40px;
  z-index: 7;
}

.top-player-info {
  position: absolute;
  width: 350px;
  height: 58px;
  left: 0px;
  top: 0px;
  z-index: 7;
}

.top-help {
  position: absolute;
  width: 58px;
  height: 20px;
  top: 60px;
  right: 240px;
  z-index: 7;
}

.top-planet {
  position: absolute;
  width: 62px;
  height: 37px;
  top: 60px;
  right: 109px;
  z-index: 6;
}

.top-market {
  position: absolute;
  width: 57px;
  height: 37px;
  top: 60px;
  right: 55px;
  z-index: 6;
}

.top-redeem {
  position: absolute;
  width: 62px;
  height: 37px;
  top: 60px;
  right: -3px;
  z-index: 6;
}
