.gain-titanium-resource-container {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gain-titanium-resource-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    animation: titaniumScoreFrames 1s steps(13);
}

@keyframes titaniumScoreFrames {
    0% { background-image: url('../images/Animations/TitaniumScore/titanium_score_00.png'); }
    8.33% { background-image: url('../images/Animations/TitaniumScore/titanium_score_01.png'); }
    16.66% { background-image: url('../images/Animations/TitaniumScore/titanium_score_02.png'); }
    25% { background-image: url('../images/Animations/TitaniumScore/titanium_score_03.png'); }
    33.33% { background-image: url('../images/Animations/TitaniumScore/titanium_score_04.png'); }
    41.66% { background-image: url('../images/Animations/TitaniumScore/titanium_score_05.png'); }
    50% { background-image: url('../images/Animations/TitaniumScore/titanium_score_06.png'); }
    58.33% { background-image: url('../images/Animations/TitaniumScore/titanium_score_07.png'); }
    66.66% { background-image: url('../images/Animations/TitaniumScore/titanium_score_08.png'); }
    75% { background-image: url('../images/Animations/TitaniumScore/titanium_score_09.png'); }
    83.33% { background-image: url('../images/Animations/TitaniumScore/titanium_score_10.png'); }
    91.66% { background-image: url('../images/Animations/TitaniumScore/titanium_score_11.png'); }
    100% { background-image: url('../images/Animations/TitaniumScore/titanium_score_00.png'); }
  }
  