
.main-bot-program-container {
    position: absolute;
    width: 60px;
    height: 60px;
}

@keyframes programImageFrames {
    0% { width: 200%; height: 200%; }
    100% { width: 100%; height: 100%; }
}

.main-bot-program-normal-container{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.main-bot-program-animation-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    animation: programImageFrames 0.5s linear;
}

.main-bot-program-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}