.market-popup-container {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.market-popup-main-container {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.market-popup-main-grid-container {
  position: absolute;
  width: 81%;
  height: 100%;
  left: 19%;
  top: 0;
  background-color: red;
}

.market-popup-main-tab-container {
  position: absolute;
  width: 19%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: green;
}

.market-popup-inventory-tab-button,
.market-popup-selling-tab-button,
.market-popup-auction-tab-button,
.market-popup-lot-tab-button {
  position: absolute;
  width: 70%;
  height: auto;
  aspect-ratio: 132/45;
  left: 50%;
  transform: translate(-50%, 0);
}

.market-popup-inventory-tab-button {
  top: 2%;
}

.market-popup-selling-tab-button {
  top: 10%;
}

.market-popup-auction-tab-button {
  top: 18%;
}

.market-popup-lot-tab-button {
  top: 26%;
}

.market-popup-page-selector-container {
  position: absolute;
  width: auto;
  height: 10%;
  aspect-ratio: 3/1;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
