.market-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.market-popup-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  user-select: none;
}

.market-popup-main-container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 552px;
  height: 413px;
}

.market-popup-main-background {
  width: 100%;
  height: 100%;
  user-select: none;
}

.market-popup-cost-container {
  position: absolute;
  width: 70px;
  height: 18px;
  left: 88%;
  top: 12%;
  transform: translate(-50%, -50%);
}

.market-popup-cost-background {
  width: 100%;
  height: 100%;
  user-select: none;
}

.market-popup-cost-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.market-popup-cost-text {
  position: absolute;
  top: 55%;
  left: 37%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  text-align: left;
  line-height: 10px;
  margin: 0px;
  width: 40%;
  height: 10px;
  font-family: "mishmash";
  color: white;
  user-select: none;
}

.market-popup-auction-tab-button {
  position: absolute;
  width: auto;
  height: 10%;
  aspect-ratio: 177/74;
  left: 14.5%;
  top: 12.6%;
  transform: translate(-50%, -50%);
}

.market-popup-lot-tab-button {
  position: absolute;
  width: auto;
  height: 10%;
  aspect-ratio: 177/74;
  left: 33%;
  top: 12.6%;
  transform: translate(-50%, -50%);
}

.market-popup-selling-tab-button {
  position: absolute;
  width: auto;
  height: 10%;
  aspect-ratio: 177/74;
  left: 51.5%;
  top: 12.6%;
  transform: translate(-50%, -50%);
}

.market-popup-inventory-tab-button {
  position: absolute;
  width: auto;
  height: 10%;
  aspect-ratio: 177/74;
  left: 70%;
  top: 12.6%;
  transform: translate(-50%, -50%);
}

.market-popup-page-selector {
  position: absolute;
  width: 170px;
  height: 40px;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.market-popup-page-grid {
  position: absolute;
  width: 85%;
  height: auto;
  aspect-ratio: 891/396;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
