.switch {
  width: 130px; /* single frame width */
  height: 79px; /* single frame height */
  background: url("../../image/Animations/on_to_off.png") 0 0 no-repeat;
  background-size: 400%; /* since 5 frames in one row */
  border: none;
  cursor: pointer;
}

.switch.off {
  animation: toOff 0.6s steps(3) forwards;
}

.switch.on {
  animation: toOn 0.6s steps(3) forwards;
}

@keyframes toOn {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes toOff {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0% 0;
  }
}
