.main {
    height: 100%;
    width: calc(100% - 190px * 2);
    flex: 1;
    background-color: lightgreen;
    background-image: url('../images/backgrounds/menu_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    z-index: 3;
}

.main-content {
    width: fit-content;
    height: 512px;
    width: 550px;
    position: relative;
}

.main-info-container{
    position: absolute;
    height: 125px;
    width: 203px;
}

.main-info-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-circle-container {
    position: absolute;
    height: 486px;
    width: 488px;
    left: 31px;
}

.main-circle-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes unlockFrames {
    0% { background-image: url('../images/Animations/Unlocks/unlock_animation_01.png'); }
    11% { background-image: url('../images/Animations/Unlocks/unlock_animation_02.png'); }
    22% { background-image: url('../images/Animations/Unlocks/unlock_animation_03.png'); }
    33% { background-image: url('../images/Animations/Unlocks/unlock_animation_04.png'); }
    44% { background-image: url('../images/Animations/Unlocks/unlock_animation_05.png'); }
    56% { background-image: url('../images/Animations/Unlocks/unlock_animation_06.png'); }
    67% { background-image: url('../images/Animations/Unlocks/unlock_animation_07.png'); }
    78% { background-image: url('../images/Animations/Unlocks/unlock_animation_08.png'); }
    89% { background-image: url('../images/Animations/Unlocks/unlock_animation_09.png'); }
    100% { background-image: url('../images/Animations/Unlocks/unlock_animation_10.png'); }
}

.main-bot-creating-animation {
    position: absolute;
    width: 390px;
    height: 390px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    animation: unlockFrames 1s steps(11);
}